<div class="select-field" (click)="toggleDropDown()" (clickOutside)="closeDropDown()" (keydown.arrowdown)="openDropDown()" tabindex=0>{{selectedValue.title}} 
    <i *ngIf=selectedValue.subTitle class="select-field__subtitle">{{selectedValue.subTitle}}</i>
</div>
<ul *ngIf="dropDownOpened" class="show-border list" (clickEscape)="closeDropDown()" (arrowPressed)="arrowMovement($event)" (clickEnter)="enterPressed()">
    <li *ngFor="let name of dropDownValues; let index = index" (click)="setSelectedValue(name)" class="list__item" [class.active]="index === focussedItem">{{name.title}}
            <i *ngIf=name.subTitle class="list__subtitle">{{name.subTitle}}</i>
    </li>
</ul>
