$dropdown-width: 200px;

.select-field {
    border: 1px solid black;
    width: $dropdown-width;

    &__subtitle {
        float: right;
    }
}

.show-border {
    border: 1px solid black;
    margin: 0px;
    padding-left: 0;
    width: $dropdown-width;
    .list__item {
        list-style-type: none;
        &::focus {
            background-color: yellow;
        }
    }
    .list__subtitle {
        float: right;
    }
}