<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>

<h3>Drop Down with simple Text</h3>
<dropdown-select [dropDownValues]='[{title: "Innsbruck"}, {title: "Greece"}]'></dropdown-select>
<br>
<h3>Drop Down with Text and subtitle</h3>
<dropdown-select [dropDownValues]='[{title: "Frankfurt", subTitle: "8 months"}, {title: "Vienna", subTitle: "27 Years"}]'></dropdown-select>

<br>
<h3>Drop Down with Default value set</h3>
<dropdown-select [defaultValue]='{title: "Munich", subTitle: "27 Years"}' [dropDownValues]='[{title: "Hannover", subTitle: "8 months"}, 
{title: "Munich", subTitle: "27 Years"},{title: "Frankfurt", subTitle: "57 Years"} ]'></dropdown-select>

<router-outlet></router-outlet>
